
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


/*form{
   margin
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    flex-direction: column; 
}*/
*{
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
#search-bar{
    margin-left: 35%;
    padding: 10px;
    border-radius: 5px;
    width: 30%;
    max-width: 350px;
    height: 10px;
    margin-bottom: 30px;
    border: 0.5;
    border-color: #333;
    box-sizing: content-box;
    margin-top: 100px;
}
#search-button{
    margin-left: 5px;
    box-sizing: content-box;
    padding: 5px 10px;
    color: white;
    background-color: #333;
    border-radius: 5px;
    cursor: pointer;
}
.cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
}

.card{
    margin-bottom: 60px;
    width: 30%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    margin-left: 30px;
    box-shadow: 0 0 6px rgba(0,0, 0, 0.1);
}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card p{
    text-transform: capitalize;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    color: #333;
}
@media screen and (max-width: 768px) {
    .left-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .left-content h1 {
        margin-top: 10px;
    }

    .sidebar {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 200px;
        background-color: black;
        padding-top: 20px;
        z-index: 1;
    }

    .sidebar.show {
        display: block;
    }

    .main-content {
        margin-left: 200px;
        transition: margin-left 0.3s;
    }

    .header button {
        display: block;
        margin-left: auto;
        background: none;
        border: none;
        font-size: 20px;
        color: white;
        cursor: pointer;
    }

    .cards {
        justify-content: center;
    }

    .card {
        width: 100%;
        margin-left: 0;
    }
}