/* Logo.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333; /* Set background color to black */
    position: fixed;
    width: 100%;
    height: 100px;
    padding: 15px;
  z-index: 100;
  display: flex;
  }
  
  .left-content {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    border-radius: 50%; /* Apply border-radius to create a circle */
    margin-right: 10px; /* Add spacing between the image and text */
  }

  
  
  h1 {
    margin: 0;
    color: #fff; /* Set text color to white */
  }
  
  .right-content {
    margin-left: auto;
  }
  
  .right-content a {
    text-decoration: none;
    color: #fff; /* Set text color to white */
    transition: color 0.3s; /* Add a smooth transition effect for color changes */
  }
  
  .right-content a:hover {
    color: #555; /* Change color on hover, adjust as needed */
  }
  .right-content {
    margin-right: 20px; /* Adjust the right margin as needed */
  }
  
  /* Example: Move the content to the left */
  .left-content {
    margin-left: 20px; /* Adjust the left margin as needed */
  }
  .left-content a.active {
    font-weight: bold;
    background-color: #555; /* Optional: Highlight active link */
  }