/* Sidebar.css */

.SideBar {
    width: 200px;
    height: 100%;
    background-color: #333;
    color: white;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align items at the top */
    position: fixed;
    top: 80px;
    left: 0;
  }
  
  .SideBar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  .SideBar li {
    margin-bottom: 35%;
    width: 100%; /* Make each list item take full width */
  }
  
  .SideBar a {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block; /* Ensure full clickable area for the link */
    border-radius: 5px; /* Optional: Add rounded corners */
    transition: background-color 0.3s; /* Optional: Add transition effect */
  }
  
  .SideBar a:hover {
    background-color: #555; /* Optional: Change background color on hover */
  }
  
  .SideBar a.active {
    font-weight: bold;
    background-color: #555; /* Optional: Highlight active link */
  }
  .SideBar button {
    margin-bottom: 35%;
    width: 100%;
  }
  .SideBar button {
    text-decoration: none;
    background-color: #333;
    color: white;
    padding: 10px;
    display: block; /* Ensure full clickable area for the link */
    border-radius: 5px; /* Optional: Add rounded corners */
    transition: background-color 0.3s; /* Optional: Add transition effect */
  }
  
  .SideBar button:hover {
    background-color: #555; /* Optional: Change background color on hover */
  }
  
  .SideBar button.active {
    font-weight: bold;
    background-color: #555; /* Optional: Highlight active link */
  }